# Ignoring npm modules
node_modules

# Ignoring directories with actual content
# to transform
workplace/images/*
!workplace/images/empty
!workplace/images/jpg/empty
!workplace/images/jpg/in/empty
!workplace/images/jpg/out/empty
!workplace/images/png/empty
!workplace/images/png/in/empty
!workplace/images/png/out/empty

workplace/scripts/*
!workplace/scripts/empty
!workplace/scripts/bash/empty
