# Ignoring npm modules
node_modules

# Ignoring directories with actual content
# to transform
workplace/*
!workplace/images/jpg/in/empty
!workplace/images/jpg/out/empty
!workplace/images/png/in/empty
!workplace/images/png/out/empty

!workplace/scripts/bash/empty
