# Ignoring npm modules
node_modules

# Ignoring tmp directory content
# but not the directory itself
tmp
!tmp/empty

# Ignoring directories with actual content
# to transform
# IMAGES
workplace/images/jpg/in/*
workplace/images/png/out/*
!workplace/images/empty
!workplace/images/jpg/empty
!workplace/images/jpg/in/empty
!workplace/images/jpg/out/empty
!workplace/images/png/empty
!workplace/images/png/in/empty
!workplace/images/png/out/empty

# SCRIPTS
workplace/scripts/bash/*
!workplace/scripts/empty
!workplace/scripts/bash/empty
